<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>FoodFamily | About Us</title>

  <!-- Favicon -->
    {% load staticfiles %}
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}"  >

    <!-- Core Stylesheet -->
    {% load staticfiles %}
<link rel='stylesheet' href="{% static 'style.css' %}">


</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/salad.png'%}"alt="">
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-4">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Welcome to Food Family</a></li>
                                    <li><a href="#">Here,Many types of Food Recipes</a></li>
                                    <li><a href="#">Share New Recipes with us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-4">
                        <div class="top-social-info text-right">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>  

                        </div>
                    </div>
                   
                    <div class="col-12 col-sm-4 pull-right" style="text-align: right;">
                        <ul style="display: inline;">
                        {% if user.is_authenticated %}
                            <li><h6 style="margin-top: 3px">Welcome,&nbsp{{user.first_name}}</h6>&nbsp
                            <a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                         <li><a href="{% url 'signup' %}">Signup</a><span>&nbsp&nbsp|&nbsp&nbsp&nbsp</span><a href="{% url 'login' %}">Login</a></li>
                         {% endif %}
                         </ul>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="FoodFamily-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="FoodFamilyNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo1.png'%}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                            <li><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="{% url 'aboutus' %}">About Us</a></li>
                                            <li><a href="{% url 'recipepost' %}">Receipe Post</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                            <li><a href="{% url 'elements' %}">Elements</a></li>
                                                    
                                </ul>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
{%  block page %}
 
 
{% endblock page %}
</body>
</html>